<a href="https://colab.research.google.com/github/Scottman625/ml1206/blob/main/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from urllib.request import urlretrieve
url = "https://github.com/Elwing-Chou/ml1206/raw/main/train.csv"
urlretrieve(url, "train.csv")
url = "https://github.com/Elwing-Chou/ml1206/raw/main/test.csv"
urlretrieve(url, "test.csv")

('test.csv', <http.client.HTTPMessage at 0x7ff288625490>)

In [ ]:
import pandas as pd
train = pd.read_csv("train.csv", encoding="utf-8")
test = pd.read_csv("test.csv", encoding="utf-8")

In [ ]:
test

     PassengerId  Pclass  ... Cabin Embarked
0            892       3  ...   NaN        Q
1            893       3  ...   NaN        S
2            894       2  ...   NaN        Q
3            895       3  ...   NaN        S
4            896       3  ...   NaN        S
..           ...     ...  ...   ...      ...
413         1305       3  ...   NaN        S
414         1306       1  ...  C105        C
415         1307       3  ...   NaN        S
416         1308       3  ...   NaN        S
417         1309       3  ...   NaN        C

[418 rows x 11 columns]

In [ ]:
datas = pd.concat([train, test], axis=0, ignore_index=True)
datas = datas.drop(["PassengerId", "Survived"], axis=1)
datas

      Pclass                                               Name  ... Cabin  Embarked
0          3                            Braund, Mr. Owen Harris  ...   NaN         S
1          1  Cumings, Mrs. John Bradley (Florence Briggs Th...  ...   C85         C
2          3                             Heikkinen, Miss. Laina  ...   NaN         S
3          1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  ...  C123         S
4          3                           Allen, Mr. William Henry  ...   NaN         S
...      ...                                                ...  ...   ...       ...
1304       3                                 Spector, Mr. Woolf  ...   NaN         S
1305       1                       Oliva y Ocana, Dona. Fermina  ...  C105         C
1306       3                       Saether, Mr. Simon Sivertsen  ...   NaN         S
1307       3                                Ware, Mr. Frederick  ...   NaN         S
1308       3                           Peter, Master. Michael J  ...   NaN         C

[1309 rows x 10 columns]

In [ ]:
import re
n = "Braund, Mr. Owen Harris"
def nameflow(n):
    # print(n)
    pattern = r".+,(.+)\..+"
    # pattern = r"[A-Za-z\s'-]+,([A-Za-z\s]+)\.[A-Za-z\s]+"
    pat = re.compile(pattern)
    result = pat.match(n)
    return result.group(1).strip()
# datas["Name"].apply(nameflow)

In [ ]:
# n = "Braund, Mr. Owen Harris"
def nameflow(n):
    return n.split(",")[-1].split(".")[0].strip()
datas["Name"] = datas["Name"].apply(nameflow)
datas["Name"].value_counts()

Mr              757
Miss            260
Mrs             197
Master           61
Dr                8
Rev               8
Col               4
Mlle              2
Ms                2
Major             2
Capt              1
Jonkheer          1
Dona              1
Mme               1
Lady              1
the Countess      1
Don               1
Sir               1
Name: Name, dtype: int64

In [ ]:
dic = datas["Ticket"].value_counts()
def ticketflow(t):
  if pd.isna(t):
    return t
  else:
    return dic[t]
datas["Ticket"] = datas["Ticket"].apply(ticketflow)

In [ ]:
def cabinflow(c):
    if pd.isna(c):
        return c
    else:
        return c[0]
datas["Cabin"] = datas["Cabin"].apply(cabinflow)
datas["Cabin"].value_counts()

C    94
B    65
D    46
E    41
A    22
F    21
G     5
T     1
Name: Cabin, dtype: int64

In [ ]:
# 篩選操作: S/D[跟你的資料筆數依樣多的True/False]
s = datas.isna().sum(axis=0)
fil = s > 0
s[fil].sort_values(ascending=False)

Cabin       1014
Age          263
Embarked       2
Fare           1
dtype: int64

In [ ]:
# demo篩選
s = pd.Series([1, 2, 3])
s[[True, False, True]]
d = pd.DataFrame({
    "Age":[20, 30, 40],
    "Family":[1, 2, 3]
})
d[[True, True, False]]

   Age  Family
0   20       1
1   30       2

In [ ]:
most = datas["Embarked"].value_counts().idxmax()
datas["Embarked"] = datas["Embarked"].fillna(most)

In [ ]:
med = datas.median().drop(["Pclass"])
datas = datas.fillna(med)
s = datas.isna().sum(axis=0)
fil = s > 0
s[fil].sort_values(ascending=False)

Cabin    1014
dtype: int64

In [ ]:
c = datas["Name"].value_counts()
reserved = c[c > 50].index
def nameflow2(mid):
    if mid in reserved:
        return mid
    else:
        return None
datas["Name"] = datas["Name"].apply(nameflow2)

In [ ]:
datas = pd.get_dummies(datas)
datas = pd.get_dummies(datas, columns=["Pclass"])
datas

       Age  SibSp  Parch  Ticket  ...  Embarked_S  Pclass_1  Pclass_2  Pclass_3
0     22.0      1      0       1  ...           1         0         0         1
1     38.0      1      0       2  ...           0         1         0         0
2     26.0      0      0       1  ...           1         0         0         1
3     35.0      1      0       2  ...           1         1         0         0
4     35.0      0      0       1  ...           1         0         0         1
...    ...    ...    ...     ...  ...         ...       ...       ...       ...
1304  28.0      0      0       1  ...           1         0         0         1
1305  39.0      0      0       3  ...           0         1         0         0
1306  38.5      0      0       1  ...           1         0         0         1
1307  28.0      0      0       1  ...           1         0         0         1
1308  28.0      1      1       3  ...           0         0         0         1

[1309 rows x 25 columns]

In [ ]:
datas["Family"] = datas["SibSp"] + datas["Parch"]
datas

       Age  SibSp  Parch  Ticket  ...  Pclass_1  Pclass_2  Pclass_3  Family
0     22.0      1      0       1  ...         0         0         1       1
1     38.0      1      0       2  ...         1         0         0       1
2     26.0      0      0       1  ...         0         0         1       0
3     35.0      1      0       2  ...         1         0         0       1
4     35.0      0      0       1  ...         0         0         1       0
...    ...    ...    ...     ...  ...       ...       ...       ...     ...
1304  28.0      0      0       1  ...         0         0         1       0
1305  39.0      0      0       3  ...         1         0         0       0
1306  38.5      0      0       1  ...         0         0         1       0
1307  28.0      0      0       1  ...         0         0         1       0
1308  28.0      1      1       3  ...         0         0         1       2

[1309 rows x 26 columns]

In [ ]:
# .iloc -> [第一筆, 第二筆....]
x = datas.iloc[:len(train)]
y = train["Survived"]
x_predict = datas.iloc[len(train):]
pid = test["PassengerId"]

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
params = {
    "n_estimators":range(11, 100, 2),
    "max_depth":[3, 4, 5, 6, 7]
}
clf = RandomForestClassifier()
search = GridSearchCV(clf, params, cv=10, n_jobs=-1)
search.fit(x, y)

GridSearchCV(cv=10, estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'max_depth': [3, 4, 5, 6, 7],
                         'n_estimators': range(11, 100, 2)})

In [ ]:
import numpy as np
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(max_depth=4)
scores = cross_val_score(clf, x, y, cv=10, n_jobs=-1)
print(scores)
print(np.average(scores))

[0.82222222 0.87640449 0.76404494 0.85393258 0.84269663 0.78651685
 0.85393258 0.7752809  0.85393258 0.85393258]
0.8282896379525594

In [ ]:
clf = RandomForestClassifier(max_depth=7, n_estimators=43)
clf.fit(x, y)
pre = clf.predict(x_predict)
result = pd.DataFrame({
    "PassengerId":pid,
    "Survived":pre
})
result.to_csv("rf.csv", encoding="utf-8", index=False)
result

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

In [ ]:
imp = pd.DataFrame(clf.feature_importances_,
                   index=datas.columns,
                   columns=["Importance"])
imp.sort_values(by="Importance", ascending=False)

             Importance
Sex_male       0.199083
Name_Mr        0.133266
Fare           0.102135
Ticket         0.076365
Age            0.070983
Sex_female     0.069880
Pclass_3       0.060175
Name_Mrs       0.041408
Family         0.039629
Name_Miss      0.038800
Pclass_1       0.032528
Name_Master    0.021921
SibSp          0.020302
Parch          0.017616
Pclass_2       0.014541
Embarked_S     0.013481
Cabin_E        0.011979
Embarked_C     0.011156
Cabin_B        0.006132
Embarked_Q     0.005796
Cabin_D        0.005001
Cabin_C        0.004205
Cabin_A        0.001914
Cabin_G        0.000895
Cabin_F        0.000631
Cabin_T        0.000179

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.countplot(y=train["Sex"], hue=train["Survived"])

In [ ]:
finterval = pd.cut(train["Fare"], bins=10)
plt.figure(figsize=(14, 14))
sns.countplot(x=finterval, hue=train["Survived"])
plt.xticks(rotation=30)
plt.legend(loc="upper right", title="Survived")

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
datas_scale = scaler.fit_transform(datas)
datas_scale = pd.DataFrame(datas_scale, columns=datas.columns)
datas_scale

           Age  SibSp     Parch  Ticket  ...  Pclass_1  Pclass_2  Pclass_3  Family
0     0.273456  0.125  0.000000     0.0  ...       0.0       0.0       1.0     0.1
1     0.473882  0.125  0.000000     0.1  ...       1.0       0.0       0.0     0.1
2     0.323563  0.000  0.000000     0.0  ...       0.0       0.0       1.0     0.0
3     0.436302  0.125  0.000000     0.1  ...       1.0       0.0       0.0     0.1
4     0.436302  0.000  0.000000     0.0  ...       0.0       0.0       1.0     0.0
...        ...    ...       ...     ...  ...       ...       ...       ...     ...
1304  0.348616  0.000  0.000000     0.0  ...       0.0       0.0       1.0     0.0
1305  0.486409  0.000  0.000000     0.2  ...       1.0       0.0       0.0     0.0
1306  0.480145  0.000  0.000000     0.0  ...       0.0       0.0       1.0     0.0
1307  0.348616  0.000  0.000000     0.0  ...       0.0       0.0       1.0     0.0
1308  0.348616  0.125  0.111111     0.2  ...       0.0       0.0       1.0     0.2

[1309 rows x 26 columns]

In [ ]:
x_scale = datas_scale.iloc[:len(train)]
x_predict_scale = datas_scale.iloc[len(train):]

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
params = {
    "n_neighbors":range(2, 100)
}
clf = KNeighborsClassifier()
search = GridSearchCV(clf, params, cv=10, n_jobs=-1)
search.fit(x_scale, y)
print(search.best_params_)
print(search.best_score_)

{'n_neighbors': 7}
0.832796504369538

In [ ]:
clf = KNeighborsClassifier(n_neighbors=11)
clf.fit(x_scale, y)
pre = clf.predict(x_predict_scale)
result = pd.DataFrame({
    "PassengerId":pid,
    "Survived":pre
})
result.to_csv("knn.csv", encoding="utf-8", index=False)
result

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]